<% if @admin_articles.empty? %>
<p>No articles were added yet.</p>
<% end %>
<% @admin_articles.each do |admin_article| %>
<div class="row">
  <div class="col-md-4">
   <% unless admin_article.coverphoto.blank? %>
    <a href="#" class="image fit">
      <%=cl_image_tag( admin_article.coverphoto.image.url ,:width => 350, :height => 200, :crop => :fill,:class=>"img-responsive center-block" )%>
    </a>
   <%end%>
  </div>
  <div class="col-md-6">
    <h4><%= link_to admin_article do %>
     <%=admin_article.title%>
     <% end %>
   </h4>
   <p style="text-align: justify;">
    <%=admin_article.subtitle%>
  </p>
</div>
<div class="col-md-2">
  <%= link_to edit_admin_article_path(admin_article) do %>
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>
  <%= link_to admin_article, method: :delete, data: { confirm: 'Are you sure?' }  do %>
  <i class="fa fa fa-eraser" aria-hidden="true"></i>
  <% end %>
</div>
</div>
<% end %>



