<div id="pinBoot" class="image-gallery">
    <% if @photos.empty? %>
      <p>No photos were added to server yet.</p>
    <% end %>
    <% thumbs_params = { :format => "jpg", :height => 150, :width => 150, :class => "thumbnail inline" } %>
    <div class="card-columns">
    <% @photos.each do |photo| %>
      <div class="card">
          <%= form_for(photo, :url => admin_photos_path, :method => :POST) do |f| %>
            <%= hidden_field_tag :admin_photo_id, f.object.id %>
            <%= hidden_field_tag :imageable_id, params[:img_id] %>
            <%= hidden_field_tag :imageable_type, params[:img_type] %>
            <%= hidden_field_tag :redirectturl, params[:redirectturl] %>
              <%= f.fields_for :image do |ff| %>
                <button type="submit" >
                   <%= image_tag(photo.image.url,:class=>"card-img-top img-fluid") %>
                </button>
                <% if @error %><span class="error"><%= @error %></span><% end %>
              <%end%>             
          <% end%>
      </div>
    <% end %> 
    </div> 
</div>




