<!-- A standard form for uploading images to your server -->
<div id='backend_upload' >
 <fieldset>
    <legend>Submit photo to server</legend>
    <%= form_for(@newphoto, :url => @admin_photos_path) do |f| %>
      <div class="row">
        <div class="col-xs-4">
          <%= f.label :title, "Title:" %>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
            <%= f.label :image, "Image:" %>
          </div>
          <div class="col-xs-8">
            <%= f.file_field :image %>
            <%= f.hidden_field(:image_cache) %>
            <%= hidden_field_tag :imageable_id, params[:img_id] %>
            <%= hidden_field_tag :imageable_type, params[:img_type] %>
            <%= hidden_field_tag :redirectturl, params[:redirectturl] %>
          </div>
      </div>
      <div class="form_controls pull-right">
          <%= f.submit "Submit Photo" %>
          <% if @error %><span class="error"><%= @error %></span><% end %>
        </div>
      </div>
      <%= hidden_field_tag :direct, params[:direct] %>
    <% end %>
  </fieldset>
</div>
