<% if admin_articles.empty? %>
<p>No articles were added yet.</p>
<% end %>
<div class="reel card-deck-wrapper ">
<div class="card-deck">

	<% admin_articles.each do |article| %>
	
	<!-- <article class="highlight">
		<a href="#" class="image featured"><%= cl_image_tag(article.coverphoto.image.url) %></a>
		<header>
		<h3><a href="#"><%=article.title%></a></h3>
		</header>
		<div class="subtitle">
			<% if article.subtitle.size <= 100  %>
			 	<p><%=article.subtitle%></p>
			<%else%>
				<p><%= '%1.100s...'%article.subtitle %></p>
			<%end%>
		</div>  -->
		<div class="card highlight">
		  <a href="#" class="image fit">
		   
		  	<%= cl_image_tag(article.coverphoto.image.url,:width => '230px',:height=>'200px',:class=>'card-img-top',:alt => 'Card image cap') %></a>
		  <div class="card-block">
		    <h4 class="card-title"><%=article.title%></h4>
		    <p class="card-text">
		    	<% if article.subtitle.size <= 100  %>
			 		<p><%=article.subtitle%></p>
				<%else%>
					<p><%= '%1.100s...'%article.subtitle %></p>
				<%end%>
		    </p>
		    <p class="card-text"><small class="text-muted">Last updated <%= getLastUpdate(article.updated_at)%> ago</small></p>
		   
		  </div>
		</div>
	<!-- </article> -->
	
	<%end%>
</div>
</div>