<% content_for :breadcrumb_atr_1, "Admin >> Users" %>
<% content_for :breadcrumb_atr_2 do %>
    <%= link_to new_admin_user_path do %>
      <i class="fa fa fa-plus-circle" aria-hidden="true"></i>
    <% end %>
<% end %>
<!-- body -->
<% @admin_users.each do |admin_user| %>
  <div class="row">
    <div class="col-md-3">
     <% unless admin_user.photo.blank? %>
      <a href=<%= edit_admin_user_path(admin_user)%> class="fit">
        <%= image_tag( admin_user.photo.image.url, :class => "img-circle user-photo-small" )%>
      </a>
      <%end%>
    </div>
    <div class="col-md-7">
          <h4><%= link_to edit_admin_user_path(admin_user) do %>
           <%=admin_user.name%>
           <% end %></h4>
           <p>
            <%=admin_user.title%>
          </p>
    </div>
    <div class="col-md-2">
          <%= link_to edit_admin_user_path(admin_user) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>

          <%= link_to admin_user, method: :delete, data: { confirm: 'Are you sure?' }  do %>
          <i class="fa fa fa-eraser" aria-hidden="true"></i>
          <% end %>
        </div>
  </div>
<% end %>



