<!DOCTYPE html>
<html>
  <head>
    <title>Art by Heart Bangkok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app/asserts/stylesheets', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%=javascript_include_tag Ckeditor.cdn_url %>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--[if lte IE 8]><script src="/assets/html5up-helios/assets/js/ie/html5shiv.js"></script><![endif]-->
      <link rel="stylesheet" href="/assets/html5up-helios/assets/css/main.css" />
      <!--[if lte IE 8]><link rel="stylesheet" href="/assets/html5up-helios/assets/css/ie8.css" /><![endif]-->
      <!--[if lte IE 9]><link rel="stylesheet" href="/assets/html5up-helios/assets/css/ie9.css" /><![endif]-->
      <!-- Scripts -->
        <script src="/assets/html5up-helios/assets/js/jquery.min.js"></script>
        <script src="/assets/html5up-helios/assets/js/jquery.dropotron.min.js"></script>
        <script src="/assets/html5up-helios/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/html5up-helios/assets/js/jquery.onvisible.min.js"></script>
        <script src="/assets/html5up-helios/assets/js/skel.min.js"></script>
        <script src="/assets/html5up-helios/assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="/assets/html5up-helios/assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="/assets/html5up-helios/assets/js/main.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
