<!DOCTYPE html>
<html>
  <head>
     <%= render :partial=> 'layouts/header_tag'%>
  </head>
  <body class="no-sidebar">
    <div id="page-wrapper">
      <!-- header -->
      <%= render :template=> 'share/headerwithcontent'%>
      <!-- body -->
      
      <%= yield %>
      <!-- footer -->
      <%= render :template=> 'share/footer',  :locals => {admin_articles: @articles_highlight }%>
    </div>
    
    <div id="modal-holder"></div> 
    <!-- Scripts for theme-->
    <%= render :partial=> 'layouts/javascript_tag'%>
  </body>
</html>
